body{
  background: linear-gradient(lightseagreen,lightskyblue);
  height: 100dvh;
}

.list-group-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head1{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 10px;

}
.bg-color{
   border-radius: 20px;
   border: 2px solid black;
}